$types-font: (
  normal: black,
  fighting: black,
  flying: #000,
  poison: #fff,
  ground: #000,
  rock: #fff,
  bug: #000,
  ghost: #000,
  steel: #000,
  fire: #000,
  water: #000,
  grass: #000,
  electric: #000,
  psychic: #fff,
  ice: #000,
  dragon: #000,
  dark: #fff,
  fairy: #000,
  unknown: #000,
  shadow: #fff,
);

$types: (
  normal: rgb(255, 217, 223),
  fighting: orange,
  flying: rgb(255, 216, 167),
  poison: rgb(85, 0, 104),
  ground: rgb(175, 113, 74),
  rock: gray,
  bug: rgb(199, 255, 199),
  ghost: rgb(161, 106, 161),
  steel: rgb(218, 218, 218),
  fire: rgb(255, 73, 73),
  water: rgb(92, 193, 255),
  grass: #5fb35f,
  electric: #ffff00,
  psychic: rgb(31, 113, 149),
  ice: rgb(197, 197, 255),
  dragon: rgb(237, 150, 0),
  dark: rgb(40, 40, 40),
  fairy: rgb(255, 120, 143),
  unknown: #fff,
  shadow: rgb(69, 69, 69),
);
